/* Small */
@media screen and (max-width: 576px){
    /* Registro */
    .login{
        display: flex;
        align-items: center;
    }

    .registro{
        display: flex;
        align-items: center;
    }

    .registro_barbearia{
        padding-top: 8%;
        display: flex;
        align-items: center;
    }

    .sb-navbar .logo{
        width: 120px;
    }

    .gap-to-menu{
        margin-top: max(110px, 8vh);
    }

    .area-cliente{
        margin-top: 1rem;
        justify-content: center;
    }
    
}

/* Medium */
@media screen and (max-width: 768px){
    /* Registro */
    #banner-registro,
    #banner-registro-barbearia,
    #banner-login{
        display: none;
    }

    .header-index h5{
        padding: 0 32px;
    }

    #header-text{
        margin-bottom: 100px;
    }
}

/* Large */
@media (min-width: 768px) and (max-width: 1200px){
    .area-cliente-card .status-aberto,
    .area-cliente-card .status-fechado{
        text-align: center;

        position: absolute;
        top: calc(100% - 360px);
    }
}

/* Large */
@media (min-width: 992px) and (max-width: 1200px){
    .area-cliente-card .status-aberto,
    .area-cliente-card .status-fechado{
        text-align: center;

        position: absolute;
        top: calc(100% - 310px);
    }
}

/* Large */
@media screen and (min-width: 1200px){
    .area-cliente-card{
        width: 17rem;
    }

    .area-cliente-card .status-aberto,
    .area-cliente-card .status-fechado{
        text-align: center;

        position: absolute;
        top: 146px;
    }
}

/* Extra Large */
@media screen and (min-width: 1400px){
    /* Registro */
    .registro img {
        height: 100vh;
        width: auto;
    }

    .registro_barbearia img{
        height: 100vh;
        width: auto;
    }
}









