*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #202024;
    --secondary: #FFC107;
    --white: #fff;
    --black: #000;
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

