<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mr-5 pr-5" routerLink=""> <img src="../../assets/images/logo-invertida.png" width="100px" alt="logo" class="logo" /></a>
    <button aria-controls="dropdown-basic" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="mx-auto collapse navbar-collapse" id="navbarText">
        <ul id="navbar-collapse" class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="" class="nav-link">
                    <fa-icon [icon]="faEye"></fa-icon> Visão Geral</a>
            </li>
            <li class="nav-item">
                <a routerLink="/minha-barbearia" class="nav-link itemNav">
                    <fa-icon [icon]="faCut"></fa-icon> Minha barbearia</a>
            </li>
            <li class="nav-item">
                <a routerLink="/servicos-agendados" class="nav-link itemNav" href="#">
                    <fa-icon [icon]="faClock"></fa-icon> Serviços Agendados</a>
            </li>
            <li class="nav-item">
                <a routerLink="/cadastrar-servicos" class="nav-link itemNav" href="#">
                    <fa-icon [icon]="faPlus"></fa-icon> Cadastrar Serviços</a>
            </li>
        </ul>


        <span class="navbar-text">
          <a class="nav-link itemNav" href="#" style="font-size: 16pt;">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
        </a>
    </span>
    </div>

</nav>
