/*.sidebar {
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
    background-color: black;
    max-width: 250px;
    width: 200px;
}

.sidebar-content {
    padding-left: 0px;
    list-style: none;
}

hr {
    background-color: white;
    padding: 0.3px;
    width: 85%;
    margin-bottom: 25px;
}

.logo {
    text-align: center;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-left: 10px;
}

.sidebarLinks {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    text-align: center;
}

.sidebarLinks:hover {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: #ffc107;
    font-size: 14px;
    font-weight: 600;
    transition: all .3s ease-in-out 0s;
}
*/

@media only screen and (max-width: 600px) {
    .logo {
        width: 60px;
    }
}

.profile {
    border-radius: 50%;
}

.bg-dark {
    background-color: black !important;
}

.midNav {
    text-align: center !important;
}

.nav-item {
    font-size: 12pt;
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-item:hover {
    color: #FABD07 !important;
}

.nav-item {
    position: relative;
    color: white;
    text-decoration: none;
}

.nav-item::after {
    content: '';
    display: inline-block;
    /* par défaut, pseudo elems sont inline, donc width et height n'ont pas d'effet */
    position: absolute;
    background: #FABD07;
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    transition: transform 0.25s ease;
    transform: scaleX(0);
    /*transform-origin: right;*/
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.active>a {
    color: #FABD07 !important;
}

.active>a::before {
    content: '';
    display: inline-block;
    /* par défaut, pseudo elems sont inline, donc width et height n'ont pas d'effet */
    position: absolute;
    background: #FABD07;
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    transition: transform 0.25s ease;
    transform: scaleX(1);
}