.sidebar {
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
    background-color: black;
    max-width: 250px;
    width: 200px;
}

.sidebar-content {
    padding-left: 0px;
    list-style: none;
}

hr {
    background-color: white;
    padding: 0.3px;
    width: 85%;
    margin-bottom: 25px;
}

.logo {
    text-align: center;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-left: 10px;
}

.sidebarLinks {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    text-align: center;
}

.sidebarLinks:hover {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: #ffc107;
    font-size: 14px;
    font-weight: 600;
    transition: all .3s ease-in-out 0s;
}
