.registro .card{
    margin: 0 auto;
    width: 25rem;
    max-width: 90%;
}

.registro img{
    width: 100%;
    height: 100%;
}

.registro .card a:hover{
    color: rgba(255, 193, 7, .8);
}

.registro .icone_dentro_input {
    position: relative;
}

.registro .icone_dentro_input input{
    padding-left: 40px;
    height: 3rem;
    color: var(--white);
}

.registro .icone_dentro_input i, ion-icon{
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0.95rem;
    padding: 0px 10px;
    color: var(--white);
}

.registro .card .area_alt, i{
    text-align: center;
}


