@import "css/global.css";

/* Index */
@import "css/index/index.css";

/* Telas */
/* Registro */
@import "css/registro/registro.css";

/* Login */
@import "css/login/login.css";

/* Registro Barbearia */
@import "css/registro_barbearia/registro_barbearia.css";

@import "css/footer.css";

@import "css/root.css";

@import "css/media-queries.css";


