<div class="pr-0 mr-0">
    <div class="profile-header">
        <h2>
            <fa-icon [icon]="faCogs"></fa-icon> DADOS OPERACIONAIS
        </h2>
    </div>
    <div class="profile">
        <form class="example-form">
            <form>
                <section class="example-section">
                    <a type="button" (click)="isEditing()">Dias de funcionamento:
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </a>

                    <div *ngFor="let item of dias" class="row">
                        <div class="col-md-2">
                            <mat-slide-toggle [disabled]="isEdit" [(ngModel)]="item.trabalha" [name]="item.dia" color="primary">{{item.dia}}
                            </mat-slide-toggle>
                        </div>
                        <div class="col-md-3" style="text-align: center;">
                            <div class="row">
                                <div class="col-md" style="text-align: right;padding-top: 5px;">
                                    <mat-label *ngIf="item.trabalha">Abre:</mat-label>
                                </div>
                                <div class="col-md" style="text-align: left;">
                                    <input *ngIf="item.trabalha" type="time">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="text-align: center;">
                            <div class="row">
                                <div class="col-md" style="text-align: right; padding-top: 5px;">
                                    <mat-label *ngIf="item.trabalha">Fecha:</mat-label>
                                </div>
                                <div class="col-md" style="text-align: left;">
                                    <input *ngIf="item.trabalha" type="time">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>

            <div style="text-align: end;">
                <button class="btn btn-primary" style="width: 33%;">
        Aplicar
      </button>
            </div>
        </form>
    </div>

</div>
