<nav class="navbar navbarStyle navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="index.php">
            <img src="../../assets/images/logo-invertida.png" width="100px" alt="logo" class="logo" />
        </a>
        <ul class="navbar-nav ml-auto sb-txt-secondary sb-w-700">
            <li class="nav-item align-self-center">
                <a class="nav-link" href="#">
                    <fa-icon [icon]="faSignOutAlt"></fa-icon> Sair</a>
            </li>
        </ul>
    </div>
</nav>