<div class="graph">
  <canvas baseChart width="830px" height="140px"
    [datasets]="basicGraphic.data"
    [labels]="basicGraphic.label"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>

<div class="graph-body">
  <h3 class="pt-2">
    <fa-icon *ngIf="basicGraphic.graphType == 1" [icon]="faCut"></fa-icon><fa-icon *ngIf="basicGraphic.graphType ==2" [icon]="faMoneyBillWave" ></fa-icon> {{basicGraphic.title}}
  </h3>

  <hr>
  <h6>
    <fa-icon [icon]="faClock"></fa-icon> Atualizado a x minutos atras
  </h6>
</div>
