.profile {
    border-radius: 50%;
}

.bg-dark {
    background-color: black !important;
}

.midNav {
    text-align: center !important;
}

.nav-item {
    font-size: 11pt;
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-item:hover {
    color: #FABD07 !important;
}

.nav-item {
    position: relative;
    color: white;
    text-decoration: none;
}

.nav-item::after {
    content: '';
    display: inline-block;
    /* par défaut, pseudo elems sont inline, donc width et height n'ont pas d'effet */
    position: absolute;
    background: #FABD07;
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    transition: transform 0.25s ease;
    transform: scaleX(0);
    /*transform-origin: right;*/
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.active>.itemNav {
    color: #FABD07 !important;
}

.active>.itemNav::before {
    content: '';
    display: inline-block;
    /* par défaut, pseudo elems sont inline, donc width et height n'ont pas d'effet */
    position: absolute;
    background: #FABD07;
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    transition: transform 0.25s ease;
    transform: scaleX(1);
}