<div class="card">
    <div class="row">
        <div class="col-md-12">
            <p class="subT">
                <fa-icon [icon]="faMoneyBillWave"></fa-icon> Quantidade de lucros </p>
        </div>
        <div class="col-md-12">
            <div class="row align-items-center">
                <div class="col-md-6 ">
                    <p class="sub"> Diaria</p>
                    <p class="Numbers">850</p>
                </div>
                <div class="col-md-6">
                    <div style="display: block">
                        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins" [options]="lineChartOptions">
                  </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
