<nav class="navbar navbarStyle navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="index.php">
            <img src="../../assets/images/logo-invertida.png" width="100px" alt="logo" class="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="menu">
            <ul class="navbar-nav ml-auto sb-txt-secondary sb-w-700">
                <li class="nav-item align-self-center">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item align-self-center">
                    <a class="nav-link" id="scroll-sobre" href="#sobre">SOBRE</a>
                </li>
                <li class="nav-item align-self-center">
                    <a class="nav-link" id="scroll-vantagens" href="#vantagens">VANTAGENS</a>
                </li>
                <li class="nav-item align-self-center">
                    <a class="nav-link sb-btn-outline-secondary sb-w-700 pr-3 pl-3" href="login.php">
                      SOU CLIENTE
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>