/*.sidenav {
    height: 100vh;
    margin-right: 0px;
    margin-left: 0px;
    background-color: black;
}*/

.logo-img {
    padding-bottom: 25px;
}

.sidebar-wrapper {
    background-color: black;
    height: 100vh;
}
