<mat-sidenav-container>
    <mat-sidenav class="sidebar-wrapper" #sidenav mode="side" [(opened)]="opened">
        <div class="logo">
            <a href="#" class="simple-text">
                <div class="logo-img">
                    <img src="../../assets/logo-invertida.png" width="140px">
                </div>
                Creative Tim
            </a>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>

        <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>

    </mat-sidenav-content>
</mat-sidenav-container>
