<div class="profile-header">
    <h2>
        <fa-icon [icon]="faHome"></fa-icon> DADOS GERAIS
    </h2>
</div>
<div class="profile">
    <form class="example-form">
        <div class="row pt-1 pb-1 mb-2">
            <div class="col-md-4" style="text-align: center;">
                <mat-label>Nome estabelecimento</mat-label>
                <input type="text" disabled class="form-control" value="Barbearia do seu Zé">
            </div>

            <div class="col-md-4" style="text-align: center;">
                <mat-label>Usuário</mat-label>
                <input type="text" disabled class="form-control" value="ze_barber">
            </div>

            <div class="col-md-4" style="text-align: center;">
                <mat-label>Email</mat-label>
                <input type="text" disabled class="form-control" value="ze_barber@gmail.com">
            </div>
        </div>

        <div class="row pt-1 pb-1 mb-2">
            <div class="col-md-4" style="text-align: center;">
                <mat-label>Estado</mat-label>
                <input type="text" disabled class="form-control" value="BA">
            </div>

            <div class="col-md-4" style="text-align: center;">
                <mat-label>Cidade</mat-label>
                <input type="text" disabled class="form-control" value="Feira de Santana">
            </div>

            <div class="col-md-4" style="text-align: center;">
                <mat-label>CEP</mat-label>
                <input class="form-control" maxlength="9" disabled placeholder="Ex. 00000-000" #cep value="44051-682">
            </div>
        </div>


        <div class="row pt-1 pb-1 mb-2">
            <div class="col-md-8" style="text-align: center;">
                <mat-label>Endereço</mat-label>
                <input type="text" disabled class="form-control" value="George Americo, Rua É">
            </div>

            <div class="col-md-4" style="text-align: center;">
                <mat-label>Número</mat-label>
                <input type="number" disabled class="form-control" value="1997">
            </div>
        </div>

        <div style="text-align: end;">
            <button class="btn btn-primary" style="width: 33%;">
        Editar
      </button>
        </div>
    </form>
</div>
