<mat-card>

    <div class="row">
        <div class="col-md-1 headerIcon">
            <p>
                <fa-icon *ngIf="card.cardType == 1" [icon]="faClock"></fa-icon>
                <fa-icon *ngIf="card.cardType == 2" [icon]="faMoneyBillWave"></fa-icon>
                <fa-icon *ngIf="card.cardType == 3" [icon]="faCheck"></fa-icon>

            </p>
        </div>
        <div class="col-md-11 text-right">
            <p class="card-category">
                {{card.title}}
            </p>
            <p class="card-data">
                {{card.data}}
            </p>
        </div>
        <hr>
        <div class="col-md-12 cd-footer">
            <p>
                <fa-icon [icon]="faEye"></fa-icon>
                {{card.footer}}
            </p>
        </div>
    </div>

</mat-card>
