.example-container {
  width: 100%;
  height: 100%;

}

.example-sidenav-content {
  /*display: flex;*/
  height: 100%;
  align-items: center;
  justify-content: center;
}


.main{
  background-color: #F0EDEB;

}
