.grid-container {
    display: grid;
    grid-template-columns: 0.6fr 1.2fr 1fr 1fr;
    grid-template-rows: 1fr 1.8fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas: "Sidebar Conteudo Conteudo Conteudo" "Sidebar Conteudo Conteudo Conteudo" "Sidebar Rodape Rodape Rodape";
}

.Sidebar {
    grid-area: Sidebar;
}

.Rodape {
    grid-area: Rodape;
    background-color: #c7c7c7;
}

.Conteudo {
    grid-area: Conteudo;
    background: #e6e6e6;
}
